In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(1000)

In [3]:
MODEL_PATH = "../results/Chr22/DeepHF/WT/_models_DeepHF_WT_CNN59.tsv"

In [4]:
top10 = pd.read_csv(MODEL_PATH, sep="\t", index_col=0).dropna()

In [5]:
numbers = np.random.permutation(np.arange(top10.shape[0]))[0:1000]

In [6]:
ST6 = top10.iloc[numbers]

In [7]:
del ST6["0"]
del ST6["1"]
del ST6["2"]
del ST6["7"]
del ST6["3"]
del ST6["6"]

In [8]:
ST6

                          4  5         8         9
33  TTGCCCAGGCTGGAGTGCTGTGG  -  0.864041  0.010925
93  AAGAAGAAGATCCTTAACCCTGG  -  0.914644  0.011003
27  GACTGGGAATGATCCCGAGGAGG  +  0.904177  0.010958
73  AGGCTTGAACGACTATTGCAGGG  +  0.923081  0.011090
10  AATGGGATGTGAGTTCACAGGGG  +  0.928588  0.011264
..                      ... ..       ...       ...
80  CAGAATGAGGAGCAGATGGAAGG  -  0.916951  0.011016
2   TGGCATCTACAGTGAAGGGAGGG  +  0.929785  0.011507
19  TTCACCTGATACTCTCCCACTGG  -  0.838853  0.010924
97  CTTTCTCTAGGAGCTAAGGATGG  +  0.512921  0.010997
15  GAGGGACTGAAACCAGGATGTGG  +  0.928184  0.011232

[1000 rows x 4 columns]

In [9]:
ST6.columns = ["gRNA", "strand", "mean", "std"]

In [10]:
ST6.to_csv("ST6.tsv", sep="\t")