In [1]:
import os
import json
import argparse
import numpy as np
import pandas as pd
import os.path as op
from core import in_CI, rsquared
from scipy.stats import spearmanr, pearsonr

In [2]:
Table1 = pd.read_csv("Table1.csv", index_col=0)

In [3]:
Table3 = Table1.loc[["Cas9 gRNA-target" in a in a for a in Table1.index]]

In [4]:
Table3

,0.68,0.95,0.997,PCC,PCC-pval,SCC,SCC-pval,rsquared
Cas9 gRNA-target pair ELBO,0.722190,0.920817,0.983782,0.784917,0.0,0.700273,0.0,0.616094
Cas9 gRNA-target pair MSE ELBO,0.712459,0.915474,0.982828,0.780525,0.0,0.698235,0.0,0.609219

In [5]:
Table3.to_csv("Table3.csv")