In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(100)

In [3]:
Table4 = pd.read_csv("ST6.tsv", sep="\t", index_col=0).sample(5)

In [4]:
Table4

                       gRNA strand      mean       std
17  TGGAGGCTCCGTGAGAACTGGGG      -  0.929062  0.011302
99  CGCAGCATCAAGGTCCAGTGGGG      +  0.909673  0.010975
18  AGTCAGCACAGGCTGGGAGAGGG      -  0.858767  0.010923
68  GTTGGCCACTGTCATCCCGCAGG      -  0.710745  0.010936
92  AGAATGAGGAGAGTAGGGGAGGG      -  0.929316  0.011334

In [5]:
Table4.to_csv("Table4.csv")